@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Tiro+Devanagari+Marathi&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
   
}
body{
    background-color: rgb(28, 32, 31);
} 

header {
    background:rgb(236, 247, 240);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    position: fixed;
    width: 100%;
   
} 
.img-header{
    width:100px;
    margin-left: 100px;
    box-shadow:7px 3px 5px rgba(0, 0, 0, 0.3); 
}  
nav{
    display: flex;
    margin-right: 100px;
    flex-direction: row;
   
}
nav a {
    color:black;
    font-size: 20px;
    text-decoration: none;
   
}
@media (max-width:768px) {
    nav{
        flex-direction: column;
    }
}

header nav a {
    margin: 0 13px;
    }

.banner{
    display: flex;
    flex-direction: column;
    background-image: url(/Checkpoint1/img/ceulondrina.png);
    width:100%;
    height:770px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}
.banner-text{
  display: flex;
  font-size: 40px;
  background-color:rgba(143, 143, 143, 0.2);
  padding: 10px;
  border-radius: 20px;
  flex-wrap: wrap;
  margin-top: 200px;
  
  
}
.londrina{
margin-top:200px;
background-color:rgb(248, 74, 43);
padding: 10px;
border-radius: 20px;
color: white;
font-family: 'Oswald', sans-serif;
font-size: large;
}
h3{
    text-align: center;
    
}
@media (max-width:768px) {
    .banner-text{
        flex-direction: column;
        font-size: 20px;
        justify-content: center;
    }
} 
h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
}
.cards{
    display:flex;
    justify-content: center;
    gap:calc(5%);
   
}

.cards-style{
    margin-top: 50px;
    box-shadow:10px 2px 2px rgba(0, 0, 0, 0.5); 
}


@media(max-width:768px){
    .cards{
        flex-direction: column;
        justify-content: center;
        gap:calc(5%);
        
    }
}    
.videos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.video{
    box-shadow:10px 2px 2px rgba(0, 0, 0, 0.5); 
}
footer{
    padding: 100px;
    background-color: rgb(15, 97, 70);
    display: flex;
    flex-direction: column;
    
}
.links{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
}
@media(max-width:768px){
    .links{
        flex-direction: column;
        line-height: 100px;
     
       
        
        
    }
}
hr{
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0.2;
}
.footer-text{
    color: white;
}
.button-footer{
    padding: 0.75rem 2rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width:300px;
    align-self: center;
    border-radius: 10px;
    background: rgba(51,51,255);
    border: none;
    

}
.link-dh{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}